@model Boekingssysteem.ViewModels.AfwezigheidCRUDViewModel

@{
    ViewData["Title"] = "Afwezigheid aanpassen";
}

<div class="row mb-5">
    <a class="btn btn-primary btn-lg mb-5" asp-controller="Afwezigheid" asp-action="Index">Terug</a>
    <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Personeel lijst
    </button>
</div>

@if (Model != null)
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Personeel lijst</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.Personen != null)
                    {
                        @foreach (var item in Model.Personen)
                        {
                            <table>
                                @using (Html.BeginForm("Aanpassen", "Afwezigheid", new { @personeelnummer = $"{@item.Personeelnummer}" }, FormMethod.Post))
                                {
                                    <input type="submit" class="btn btn-primary btn mb-2" value="@item.Personeelnummer @item.Naam @item.Voornaam">
                                }
                                <div class="divider mb-5 mt-5"></div>
                            </table>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div BtnCrud>
        <div class="col-sm-12">
            <div class="mb-5">
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(s => s.Personeelnummer)
                    <input class="btn btn-primary mb-2" type="submit" value="Zoek adhv personeelsnummer" />
                }
            </div>
            <div class="@ViewBag.Class @ViewBag.Visibility" role="alert">
                @ViewBag.Message
            </div>

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Begindatum</th>
                    <th>Einddatum</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var afwezig in ViewBag.Afwezigheden)
                {
                    <tr>
                        <td>@String.Format("{0:dd/MM/yyyy}",@afwezig.Begindatum)</td>
                        <td>
                            @if (@afwezig.Einddatum != null)
                            {
                                @String.Format("{0:dd/MM/yyyy}",@afwezig.Einddatum)
                            }
                        </td>
                        <td><a class="button" asp-action="AanpassenDetail" asp-route-id="@afwezig.AfwezigheidID">Aanpassen</a></td>
                        <td><a class="button" asp-action="Verwijderen" asp-route-id="@afwezig.AfwezigheidID">Verwijderen</a></td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
